.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(162, 219, 255);
    padding: 25px;
    margin-bottom: 25px;
    font-family: 'Kanit', sans-serif;
}
.header__name {
    font-size: 2rem;
    font-weight: bold;
    cursor: default;
}
.header__buttons {
    margin-right: 50px;
}
.header__button {
    border: none; 
    background-color: inherit;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
}
.header__button:hover {
    background-color: rgb(125, 205, 255);
}

.header__button-icon {
    padding: 4px 3px 0px 3px;
}

.header__search-input {
    font-size: 1.3rem;
    background-color:rgb(176, 225, 255);
    border: 1px solid;
    border-radius: 5px;
}

.header__search {
    display: flex;
    align-items: center;
}
.header__search-input:focus {
    border: 1px solid;
    border-width: 1px !important;
}
.header__search-button {
    font-size: 1.3rem;
    margin-left: 10px;
    cursor: pointer;
}